// Блок для лого академии
.academy-logo {
  padding: 5px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 7px 3px 73px;
    padding: 0 0 22px 0;
  }
}

.academy-logo__link {
  @include arial-text-section;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.academy-logo__link:active {
  opacity: 0.3;
}

.academy-logo__link:hover path {
  fill: $basic-green;
}

.academy-logo__link:active path {
  opacity: 0.3;
}
