// Блок для лого академии
.academy-logo {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 22px 30px;
  }
}

.academy__link-text {
  @include arial-text-section;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.academy__link:active,
.academy__link-text:active {
  opacity: 0.3;
}

.academy__link:hover path {
  fill: $basic-green;
}

.academy__link:active path {
  opacity: 0.3;
}
