.cat-options {
  @include form-label-text();
  border: none;
  margin: 0;
  padding: 7px 20px 10px 20px;
  border-bottom: 1px solid $catalog-border-grey;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 35px 65px 10px 70px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    padding: 3px 10px 10px 74px;
  }
}

.cat-options__label {
  display: flex;
  align-items: baseline;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.cat-options__label:last-child {
  margin-top: 10px;
}

.cat-options__input {
  flex-grow: 1;
  height: 35px;
  margin-left: 12px;
  font: inherit;
  color: $text-grey;
  text-transform: inherit;
  padding: 5px 15px;
  border: 1px solid $form-border-grey;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding: 8px 16px;
  }

  &:hover {
    border: 1px solid $catalog-additional-border-grey;
  }

  &:focus {
    border: 2px solid $text-grey;
    outline: none;
  }
}

.cat-options__label:nth-of-type(2) .cat-options__input {
  padding: 7px 13px;
  margin-left: 18px;

  @media (min-width: $tablet-width) {
    padding: 7px 21px;
  }
}

.cat-options__label:nth-of-type(3) .cat-options__input {
  padding: 4px 17px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    padding: 7px 23px;
  }
}
