// Секция каталога

.catalog__wrapper {
  @media (min-width: $mobile-width) {
    @include mobile-blocks-width;
  }

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
  }
}

.catalog__title {
  @include title-text();
  margin: 29px 20px;

  @media (min-width: $tablet-width) {
    @include tablet-text-title();
    margin: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 65px 110px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  padding-top: 8px;

  @media (min-width: $desktop-width) {
    margin: 31px 110px 21px 110px;
  }
}
