.comment {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    display: block;
    width: 50%;
    border: 1px solid $basic-green;

    @media (min-width: $tablet-width) {
      top: 21px;
      width: 100%;
      border: 1px solid $basic-green;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }
}

.comment__wrapper {
  @include mobile-blocks-width;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
    margin: 42px auto;
  }
}

.comment__label {
  @include form-title();
  display: block;
  margin-bottom: 39px;
  position: relative;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    @include title-text;
    margin-bottom: 77px;
    margin-left: 35px;
    padding-left: 34px;
    margin-top: 41px;
    background-color: $text-white;
    z-index: 1;
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    z-index: 1;
    margin: 0 72px 77px 72px;
    width: 200px;
    padding: 0 21px 0 39px;
  }
}

.comment__text {
  resize: none;
  width: 280px;
  padding: 0;
  padding-top: 6px;
  text-align: center;
  font: inherit;
  color: $text-grey;
  text-transform: uppercase;
  min-height: 145px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    min-height: 162px;
    width: 610px;
    padding-left: 19px;
    padding-top: 10px;
    text-align: left;
    margin: 0 69px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 111px;
  }
}
