.comment {
  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.comment__label {
  @include form-title();
  display: block;
  margin-bottom: 35px;
  position: relative;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    @include title-text;
    margin-bottom: 76px;
    margin-left: 0;
    padding: 0 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.comment__label::before {
  @media (min-width: $tablet-width) {
    content: "";
    top: 23px;
    border: 1px solid $basic-green;
    position: absolute;
    width: 28px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 68px;
  }
}

.comment__label::after {
  content: "";
  position: absolute;
  right: 0;
  top: 14px;
  display: block;
  width: 156px;
  border: 1px solid $basic-green;

  @media (min-width: $tablet-width) {
    top: 23px;
    width: 477px;
  }

  @media (min-width: $desktop-width) {
    width: 1106px;
  }
}

.comment__text {
  resize: none;
  width: 280px;
  padding: 0;
  padding-top: 6px;
  text-align: center;
  font: inherit;
  color: $text-grey;
  text-transform: uppercase;
  min-height: 145px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    min-height: 162px;
    width: 610px;
    padding-left: 19px;
    padding-top: 10px;
    text-align: left;
    margin: 0 69px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 110px;
  }
}
