// Блок для секции контактов
.contacts {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $footer-black;
  padding: 10px 20px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-grey;
}

.contacts__logo {
  border-bottom: 1px solid $contacts-grey;
}
