// Блок для секции контактов
.contacts {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: baseline;
  align-items: center;

  @include mobile-blocks-width;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
    padding: 36px 0 49px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    height: 118px;
    position: absolute;
    top: 98px;
    left: 109px;
    background-color: $text-white;
    padding: 32px 62px 49px 78px;
  }
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $footer-black;
  padding: 14px 10px 10px 19px;
  margin-top: 15px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 180px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding: 17px 10px 0 0;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 10px 0 0;
    margin-left: 0;
    margin-top: 10px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-grey;
  font-style: normal;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    width: 180px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 19px;
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-right: 0;
    margin-top: 10px;
  }
}

.contacts__address span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__logo {
  border-bottom: 1px solid $contacts-grey;
}
