// Блок описания секции "Как это работает"
.description-section {
  margin-left: 20px;
}

.description-section__list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.description-section__item {
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    min-height: 280px;
  }
}

.description-section__item .description-section__content::before {
  content: "";
  position: absolute;
  background-image: url("../../img/leaf-icon.svg");
  width: 60px;
  height: 60px;
  top: -2px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.description-section__item .description-section__content::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/one-icon.svg");
    background-repeat: no-repeat;
    width: 112px;
    height: 280px;
    top: 10px;
    z-index: -1;
  }
}

.description-section__item:nth-child(2) .description-section__content::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/two-icon.svg");
    background-repeat: no-repeat;
    width: 112px;
    height: 280px;
    top: 10px;
    z-index: -1;
  }
}

.description-section__item:nth-child(3) .description-section__content::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/three-icon.svg");
    background-repeat: no-repeat;
    width: 112px;
    height: 280px;
    top: 10px;
    z-index: -1;
  }
}

.description-section__item:last-child .description-section__content::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../../img/four-icon.svg");
    background-repeat: no-repeat;
    width: 112px;
    height: 280px;
    top: 10px;
    z-index: -1;
  }
}

.description-section__item:nth-child(2) .description-section__content::before {
  content: "";
  background-image: url("../../img/glass-icon.svg");
}

.description-section__item:nth-child(3) .description-section__content::before {
  content: "";
  background-image: url("../../img/eat-icon.svg");
}

.description-section__item:last-child .description-section__content::before {
  content: "";
  background-image: url("../../img/alarm-icon.svg");
  top: -4px;
}

.description-section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    text-align: left;
  }
}

.description-section__content {
  @include arial-text-section();
  padding-left: 80px;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    @include tablet-text-content;
    padding-left: 0;
    padding-top: 90px;
    text-align: left;
    width: 250px;
    z-index: 3;
  }
}
