// Блок описания секции "Как это работает"
.description-section {
  padding: 0 20px;
}

.description-section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.description-section__content {
  font-family: "Arial", sans-serif;
  color: $text-grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
