.example-section {
  margin-top: 47px;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    background: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example-section__wrapper {

  @include mobile-blocks-width;
  margin: 47px auto 27px auto;

  @media (min-width: $tablet-width) {

    @include tablet-blocks-width;
    margin: 61px auto;
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    background: $basic-grey;
    margin: 0;
    padding: 0 105px 0 30px;
  }
}

.example-section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding: 27px 20px 19px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    padding: 43px 30px 20px 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 80px;
    padding-top: 0;
  }
}

.example-section__content {
  @include arial-text-section();
  margin: 14px 21px;

  @media (min-width: $tablet-width) {
    @include tablet-text-content;
    margin: 44px 40px 15px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin-top: 145px;
    margin-left: 80px;
  }
}
