.example-section {
  margin-top: 43px;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example-section__wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    background: $basic-grey;
    margin: 0;
    padding: 0 105px 0 30px;
  }
}

.example-section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    padding-top: 40px;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 80px;
    padding-top: 0;
  }
}

.example-section__content {
  @include arial-text-section();
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    @include tablet-text-content;
    margin-top: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin-top: 145px;
    margin-left: 80px;
  }
}
