.extra {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 18px 0 0 18px;

  @media (min-width: $tablet-width) {
    margin: 15px 0 43px 0;
  }
}

.extra__title {
  @include form-title();
  margin-bottom: 29px;
  position: relative;
  width: 298px;

  @media (min-width: $tablet-width) {
    @include title-text;
    margin-bottom: 53px;
    width: 350px;
    padding-left: 69px;
    padding-right: 348px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 85px 0 110px;
    width: 1245px;
  }
}

.extra__title::before {
  @media (min-width: $tablet-width) {
    content: "";
    top: 22px;
    border: 1px solid $basic-green;
    position: absolute;
    width: 28px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 68px;
  }
}

.extra__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 14px;
  display: block;
  width: 134px;
  border: 1px solid $basic-green;

  @media (min-width: $tablet-width) {
    top: 22px;
    width: 443px;
  }

  @media (min-width: $desktop-width) {
    width: 1076px;
  }
}

.extra__label {
  @include form-label-text();
  color: $text-black;
  display: block;
  margin-bottom: 12px;
  padding-left: 47px;
  padding-top: 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.extra__label:nth-child(2) {
  margin-right: 29px;
}

.extra__label:last-child {
  @media (min-width: $desktop-width) {
    margin-left: 90px;
  }
}

.extra__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 20px;
    margin: 0 68px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    margin: 0 184px 0 84px;
  }
}

.extra__label > .extra__checkbox {
  appearance: none;
  position: absolute;
}

.extra__label > span::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../../img/checkbox-off-icon.svg") no-repeat;
  position: absolute;
  left: 2px;
  top: 5px;

  @media (min-width: $tablet-width) {
    background: url("../../img/checkbox-off-tablet-icon.svg") no-repeat;
    display: block;
  }
}

.extra__label > .extra__checkbox:checked + span::before {
  background: url("../../img/checkbox-on-icon.svg") no-repeat 6px 8px, url("../../img/checkbox-off-icon.svg") no-repeat;
  display: block;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background: url("../../img/checkbox-on-icon.svg") no-repeat 11px 12px,
      url("../../img/checkbox-off-tablet-icon.svg") no-repeat;
    display: block;
  }
}

.extra__label > .extra__checkbox:disabled + span {
  opacity: 0.3;
}
