.extra {
  border: none;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 32px;
    display: block;
    width: 50%;
    border: 1px solid $basic-green;

    @media (min-width: $tablet-width) {
      width: 100%;
      top: 37px;
    }
  }
}

.extra__title {
  @include form-title();
  margin-bottom: 29px;
  position: relative;
  margin-left: 17px;
  margin-top: 16px;
  background-color: $text-white;
  z-index: 1;
  margin-right: 135px;

  @media (min-width: $tablet-width) {
    @include title-text;
    margin-bottom: 50px;
    width: 223px;
    margin-left: 32px;
    padding-left: 38px;
    padding-right: 30px;
    background-color: $text-white;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    margin-left: 72px;
    width: 200px;
    padding-left: 37px;
    padding-right: 53px;
  }
}

.extra__label {
  @include form-label-text();
  color: $text-black;
  display: block;
  margin-bottom: 14px;
  padding-left: 47px;
  padding-top: 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.extra__label:nth-child(2) {
  margin-right: 29px;
}

.extra__label:last-child {
  @media (min-width: $desktop-width) {
    margin-left: 90px;
  }
}

.extra__wrapper {
  @include mobile-blocks-width;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    @include desktop-blocks-width;
    flex-wrap: wrap;
  }
}

.extra__checkbox-wrapper {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 17px;
    margin: 0 68px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    margin: 20px 182px 0 84px;
    display: flex;
  }
}

.extra__label > .extra__checkbox {
  appearance: none;
  position: absolute;
}

.extra__label > span::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/checkbox-off-icon.svg") no-repeat;
  position: absolute;
  left: 2px;
  top: 5px;

  @media (min-width: $tablet-width) {
    background: url("../img/checkbox-off-tablet-icon.svg") no-repeat;
    display: block;
  }
}

.extra__label > .extra__checkbox:checked + span::before {
  background: url("../img/checkbox-on-icon.svg") no-repeat 6px 8px, url("../img/checkbox-off-icon.svg") no-repeat;
  display: block;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background: url("../img/checkbox-on-icon.svg") no-repeat 11px 12px,
      url("../img/checkbox-off-tablet-icon.svg") no-repeat;
    display: block;
  }
}

.extra__label > .extra__checkbox:disabled + span {
  opacity: 0.3;
}
