.form-wrapper-desktop {
  @include mobile-blocks-width;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 60px auto 20px auto;
  }
}
