// Список товаров

.goods-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}
