// Блок хэдера
.header {
  width: 100%;
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }

  &::before {
    content: "";

    @media (min-width: $desktop-width) {
      width: 50%;
      height: 700px;
      background: url("../../img/cat-background-desktop.jpg") no-repeat #62a53a;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background-position: 173px;
    }
  }
}

.header--nobackground::before {
  content: none;
}
