// Блок хэдера
.header {
  width: 100%;
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }

  &::before {
    content: "";

    @media (min-width: $desktop-width) {
      width: 50%;
      height: 700px;
      background: url("../../img/cat-background-desktop.webp") no-repeat $cat-background;
      display: block;
      position: absolute;
      right: 0;
      top: 0;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../../img/cat-background-desktop@2x.webp") no-repeat $cat-background;
        width: 50%;
        height: 700px;
        background-size: 720px auto;
      }
    }
  }
}

.header--nobackground::before {
  content: none;
}
