// Секция формы страницы form
.main-form {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 63px 0;
  }
}

.main-form__text-wrapper {
  @media (min-width: $mobile-width) {
    @include mobile-blocks-width;
  }

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
  }
}

.main-form__title {
  @include title-text();
  margin: 27px 20px 37px 20px;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    margin: 53px 30px 50px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 110px;
  }
}

.main-form__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 30px 30px 30px 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.main-form__button-wrapper {
  @include mobile-blocks-width;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
    margin-top: 51px;
    margin-bottom: 82px;
  }
}

.main-form__button {
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $basic-green;
  color: $text-white;
  padding: 10px 44px;
  display: block;
  width: 280px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;
    font-weight: normal;
    font-size: 20px;
    line-height: 0px;
    margin-left: 70px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 566px;
    margin-left: 112px;
  }
}

.main-form__note {
  margin-top: 17px;
  padding: 0 5px;
  display: block;
  text-align: center;

  @include arial-product-text();
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    margin-left: 27px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    margin-left: 35px;
  }
}
