// Секция формы страницы form
.main-form {
  @media (min-width: $tablet-width) {
    margin-bottom: 105px;
  }

  @media (min-width: $desktop-width) {
    margin: 65px 40px;
  }
}

.main-form__title {
  @include title-text();
  margin: 25px 20px 37px 20px;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    margin: 50px 30px 55px 70px;
  }
}

.main-form__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 30px 30px 30px 20px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 70px;
  }
}

.main-form__button-wrapper {
  margin: 18px 20px 35px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 18px 20px 35px 71px;
  }
}

.main-form__button {
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $basic-green;
  color: $text-white;
  padding: 10px 44px;
  display: block;
  width: 100%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;
    font-weight: normal;
    font-size: 20px;
    line-height: 0px;
  }
}

.main-form__note {
  margin-top: 17px;
  padding: 0 5px;
  display: block;
  text-align: center;

  @include arial-product-text();
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
  }
}
