// Блок главной секции
.main-section {
  position: relative;
  color: $text-white;
  text-align: center;
  background: url("../../img/cat-background.jpg") 60% 0;
  background-repeat: no-repeat;
  height: 480px;

  &::after {
    content: "";
    background: rgba(104, 183, 56, 0.85);
    position: absolute;
    width: 100%;
    height: 63%;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    background: none;
    color: $text-black;
    text-align: left;
    padding-left: 118px;
    height: 858px;
    display: flex;
    flex-direction: column;

    &::after {
      width: 0;
      background: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-left: 130px;
    height: 650px;

    &::before {
      background-image: url("../../img/can-desktop-image.png");
      width: 100%;
      height: 100%;
      top: 40px;
      left: 450px;
    }
  }
}

.main-section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 27px 20px 8px 20px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main-section__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-section__image {
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    z-index: 1;
    text-align: center;
    width: 680px;
    margin-top: -35px;
  }
}

.main-section picture {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.main-section__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: block;
  color: inherit;
  background-color: $basic-green;
  text-transform: uppercase;
  width: 280px;
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    background-color: $basic-green;
    color: $text-white;
    position: relative;
    width: 244px;
    height: 20px;
    text-align: center;
    margin-top: 29px;
    margin-left: -6px;
    padding: 17px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    top: 340px;
  }
}
