.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-menu__item {
  text-align: center;
  border-bottom: 1px solid $border-grey;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}

.main-menu__link {
  text-decoration: none;
  color: $text-black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-menu--closed {
  display: none;
}
