.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  &--closed {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 5px 0;
    margin-right: 30px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    margin-right: 110px;
    z-index: 2;
  }
}

.main-menu__item {
  text-align: center;
  border-bottom: 1px solid $border-grey;
  padding: 23px 0 18px 0;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    border-bottom: none;
  }
}

.main-menu__link {
  text-decoration: none;
  color: $text-black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    color: $text-white;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-menu__link:hover {
  opacity: 0.6;

  &:active {
    color: $active-link-black;
  }
}

.main-menu__link--active {
  @media (min-width: $tablet-width) {
    padding-bottom: 6px;
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
    border-bottom: 1px solid $active-link-white;
  }
}

.main-menu__link--nobackground {
  @media (min-width: $desktop-width) {
    color: $text-black;
  }
}

.main-menu__link--nobackground--active {
  @media (min-width: $tablet-width) {
    padding-bottom: 6px;
    border-bottom: 2px solid $basic-green;
  }
}
