.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 20px 0px 5px 0px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.main-menu__item {
  text-align: center;
  border-bottom: 1px solid $border-grey;
  padding: 22px 0 20px 0;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    border-bottom: none;
  }
}

.main-menu__link {
  text-decoration: none;
  color: $text-black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    color: $text-white;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-menu__link--nobackground {
  color: $text-black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.main-menu--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
