// Блок главной секции
.main-section {
  position: relative;
  color: $text-white;
  text-align: center;
  min-height: 479px;
  background-image: linear-gradient(to bottom, $cat-background 0, 305px, $transparent 305px);

  @media (min-width: $tablet-width) {
    background: none;
    color: $text-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    min-height: 652px;
  }
}

.main-section__wrapper {
  @include mobile-blocks-width;
  background: url("../img/cat-background.jpg") 60% 0;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/cat-background@2x.jpg") no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
    background: none;
    display: flex;
    flex-direction: column;
    height: 858px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
    height: 602px;
    display: grid;
    grid-template-columns: 609px 550px;
    grid-template-rows: 250px min-content min-content;
  }
}

.main-section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 27px 20px 10px 20px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    @include tablet-text-title;
    text-align: left;
    padding-top: 49px;
    padding-bottom: 27px;
    padding-left: 117px;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 5px 20px 188px;
    padding: 0;
  }
}

.main-section__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 14px 118px;
  }

  @media (min-width: $desktop-width) {
    margin: 8px 50px 16px 190px;
  }
}

.main-section__image {
  position: relative;
  z-index: 3;
  margin-top: 16px;
  height: 267px;
  order: 2;

  @media (min-width: $tablet-width) {
    z-index: 0;
    text-align: center;
    width: 708px;
    margin-left: 30px;
    margin-top: -83px;
    height: 610px;
  }

  @media (min-width: $desktop-width) {
    z-index: 2;
    margin-top: 14px;
    width: 552px;
    height: 499px;
  }
}

.main-section__picture {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 710px;
    height: 610px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 2;
    margin-left: -82px;
  }
}

.main-section__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: block;
  color: inherit;
  background-color: $basic-green;
  text-transform: uppercase;
  width: 280px;
  padding: 11px 0;
  margin: 0 auto;
  height: 18px;

  @media (min-width: $tablet-width) {
    background-color: $basic-green;
    color: $text-white;
    position: relative;
    width: 244px;
    height: 20px;
    text-align: center;
    margin-top: 35px;
    margin-left: 112px;
    padding: 17px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 3;
    margin-left: 190px;
    margin-top: 35px;
  }
}

.main-section__link:hover {
  background-color: $hover-link-green;

  &:active {
    color: $hover-link-white;
  }
}
