.nav {
  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    justify-content: space-between;
    margin-top: 28px;
  }
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-grey;
  margin-top: 13px;
  padding: 0 20px 10px 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.nav__link:last-of-type {
  padding-right: 9px;
}

.nav__button {
  width: 24px;
  height: 2px;
  background-color: black;
  border: none;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 6px;
    right: 0;
  }

  &::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 12px;
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .nav__button--closed {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .nav__button--closed {
      display: none;
    }
  }
}
