.nav {
  outline: 1px solid green;
  position: relative;
}

.nav__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $border-grey;
}

.nav__button {
  width: 24px;
  height: 2px;
  background-color: black;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 5px;
    right: 27px;
  }

  &::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 12px;
    right: 27px;
  }
}

@media(min-width: $tablet-width) {
  .nav__button--closed {
    display: none;
  }
}
