.owner-contacts {
  border: none;
  position: relative;

  @media (min-width: $desktop-width) {
    border: none;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 43px;
    display: block;
    width: 50%;
    border: 1px solid $basic-green;

    @media (min-width: $tablet-width) {
      width: 100%;
      top: 98px;
      border: 1px solid $basic-green;
    }

    @media (min-width: $desktop-width) {
      top: 43px;
    }
  }
}

.owner-contacts__wrapper {
  @include mobile-blocks-width;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
  }
}

.owner-contacts__title {
  @include form-title();
  margin-bottom: 33px;
  position: relative;
  padding: 0 0 0 19px;
  margin-top: 22px;
  background-color: $text-white;
  z-index: 1;
  margin-right: 98px;

  @media (min-width: $tablet-width) {
    @include title-text;
    padding-left: 39px;
    padding-right: 32px;
    width: 520px;
    margin: 71px 0 73px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 32px 0 40px;
    margin: 0 74px 72px 70px;
  }
}

.owner-contacts__label {
  @include form-label-text();
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 20px 15px 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-right: 66px;
    margin-left: 72px;
    margin-bottom: 17px;

    @media (min-width: $desktop-width) {
      margin-left: 111px;
      margin-right: 55px;
    }
  }
}

.owner-contacts__label:nth-of-type(2) {
  @media (min-width: $tablet-width) {
    margin-left: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.owner-contacts__input {
  flex-grow: 1;
  font: inherit;
  color: $text-grey;
  text-transform: inherit;
  padding: 12px 15px;
  margin-left: 11px;
  position: relative;
  border: 1px solid $form-border-grey;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    margin-top: 4px;
    padding: 8px 0 9px 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    width: 466px;
  }

  &:disabled {
    border: 1px solid $text-grey;
  }
}

.owner-contacts__label:last-of-type .owner-contacts__input {
  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.owner-contacts__icon {
  position: absolute;
  right: 13px;
  top: 16px;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    right: 15px;
    top: 18px;
  }
}

.owner-contacts__icon--email-icon {
  stroke: $text-dark-grey;
}

.owner-contacts__input:disabled ~ .owner-contacts__icon {
  stroke: $basic-green;
}

.owner-contacts__icon--error {
  fill: $error-red;
}
