.owner-contacts {
  border: none;
  padding: 0;
  margin: 26px 0 13px 20px;

  @media (min-width: $tablet-width) {
    margin: 75px 0 47px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 41px 0 49px 0;
  }
}

.owner-contacts__title {
  @include form-title();
  margin-bottom: 33px;
  padding: 0;
  position: relative;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    @include title-text;
    margin-bottom: 73px;
    padding-left: 68px;
    padding-right: 188px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 85px 0 110px;
    width: 1245px;
    margin-bottom: 74px;
  }
}

.owner-contacts__title::before {
  @media (min-width: $tablet-width) {
    content: "";
    top: 22px;
    border: 1px solid $basic-green;
    position: absolute;
    width: 28px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 68px;
  }
}

.owner-contacts__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 16px;
  display: block;
  width: 96px;
  border: 1px solid $basic-green;

  @media (min-width: $tablet-width) {
    top: 22px;
    width: 143px;
  }

  @media (min-width: $desktop-width) {
    width: 776px;
  }
}

.owner-contacts__label {
  @include form-label-text();
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  position: relative;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-right: 66px;
    margin-left: 72px;
    margin-bottom: 17px;

    @media (min-width: $desktop-width) {
      margin-left: 111px;
      margin-right: 55px;
    }
  }
}

.owner-contacts__label:nth-of-type(2) {
  @media (min-width: $tablet-width) {
    margin-left: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.owner-contacts__input {
  flex-grow: 1;
  font: inherit;
  color: $text-grey;
  text-transform: inherit;
  padding: 12px 15px;
  margin-left: 11px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    margin-top: 4px;
    padding: 8px 0 9px 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    width: 466px;
  }
}

.owner-contacts__label:last-of-type .owner-contacts__input {
  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.owner-contacts__icon {
  position: absolute;
  right: 17px;
  top: 22px;
}
