.page {
  font-family: "Oswald", "Arial", sans-serif;
  outline: 1px solid tomato;
  color: $text-black;
  box-sizing: border-box;
}

.page__body {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
