.page {
  font-family: "Oswald", "Arial", sans-serif;
  color: $text-black;
  margin: 0 auto;
  box-sizing: border-box;
}

.page__body {
  margin: 0;

  @media (min-width: $mobile-width) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    background-image: url("../../img/cat-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 800px -30px;
    position: fixed;
    background-size: 720px 696px;
    z-index: 2;
  }
}

.page__body--nobackground {
  background: none;
}
