.product-extra {
  padding-top: 13px;
  padding-bottom: 26px;
  border-top: 1px solid $catalog-additional-border-grey;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    padding-bottom: 0;
    padding-top: 9px;
    border: none;
  }
}

.product-extra__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-dark-grey;
  margin-bottom: 14px;
  position: relative;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    grid-column: 1 / 2;
    margin-left: 40px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 13px;
    width: 170px;
  }
}

.product-extra__content {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $text-grey;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 5px 37px 12px 91px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin: 17px 0 12px 155px;
  }
}

.product-extra__content span:first-child {
  @media (min-width: $tablet-width) {
    width: 133px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 165px;
    text-align: left;
  }
}

.product-extra__content span:nth-child(2) {
  @media (min-width: $desktop-width) {
    width: 44px;
  }
}

.product-extra__link {
  @include product-link();
  padding: 8px 109px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    text-align: center;
    margin: 0 38px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding: 8px 92px;
    height: 24px;
    margin-top: 5px;
  }
}

.product__link:hover {
  background-color: $hover-link-green;

  &:active {
    color: $hover-link-white;
  }
}
