.product-last {
  list-style: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 241px;
    height: 430px;
    margin-top: 90px;
    border: 2px solid $basic-grey;
  }
}

.product-last__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $footer-black;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 80px;
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 159px 32px 0 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }

  &::before {
    content: "";
    background: url("../../img/plus-icon.svg");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 26px;
    left: 145px;

    @media (min-width: $desktop-width) {
      background: url("../../img/plus-icon-desktop.svg");
      width: 60px;
      height: 60px;
      top: 50px;
      left: 90px;
      outline: 2px solid red;
    }
  }
}

.product-last__content {
  @include arial-product-text();
  margin-top: 7px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
    margin-top: 23px;
    padding: 0 20px;
  }
}

.product-last__show-link {
  @include product-link();
  background-color: $basic-grey;
  color: $text-grey;
  display: block;
  padding: 10px 90px;
  margin: 21px 20px 0 20px;

  @media (min-width: $desktop-width) {
    margin: 87px 37px 20px 37px;
    padding: 10px;
  }
}

.product-last__show-link:hover {
  background-color: $catalog-border-grey;

  &:active {
    color: $active-link-grey;
  }
}
