// Блок товара

.product {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid $catalog-border-grey;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 535px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    margin-bottom: 35px;
    border: none;
    background-image: linear-gradient(to bottom, $text-white 0, 106px, $basic-grey 106px);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 520px;
    margin-right: 80px;
    margin-bottom: 53px;
    background-image: linear-gradient(to bottom, $text-white 0, 93px, $basic-grey 93px);
  }
}

.product a:first-of-type {
  grid-row: 1/2;
  grid-column: 2/-1;
}

.product:nth-child(2n) {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.product:nth-child(4n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.product__image-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    height: 240px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    height: 215px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 38px;
  }
}

.product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-dark-grey;
  grid-row: 1 / 2;
  grid-column: 2 / -1;
  padding: 0 61px 0 0;
  margin: 20px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0 92px 0 95px;
    padding: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    margin: 0 50px;
  }
}

.product__content {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin: 0;

  @include arial-product-text();

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid $catalog-additional-border-grey;
  }
}

.product__link {
  @include product-link();
  grid-row: 3;
  grid-column: 1 / -1;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 38px;
    padding: 10px 94px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 39px;
    padding: 10px 58px;
  }
}

.product__link:hover {
  background-color: $hover-link-green;

  &:active {
    color: $hover-link-white;
  }
}

.product__picture {
  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product__image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-top: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.product__wrapper {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin-right: 20px;

  @include arial-product-text();
  margin-top: 74px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin: 20px 38px 27px 38px;
  }

  @media (min-width: $desktop-width) {
    margin: 25px 39px;
    padding: 0;
  }
}
