// Блок секции с программами
.programms-section__list {
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.programms-section__item {
  background-color: $basic-grey;
  padding-bottom: 18px;
}

.programms-section__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    @include title-text;
  }
}

.programms-section__content {
  @include arial-text-section;
  margin-left: 20px;
  margin-right: 33px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding-left: 32px;
    width: 370px;
  }

  @media (min-width: $desktop-width) {
    @include tablet-text-content;
  }
}

.programms-section__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $text-black;
  text-transform: uppercase;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 52px;
  }
}
