// Блок секции с программами

.programs-section__wrapper {
  @include mobile-blocks-width;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-blocks-width;
  }
}

.programs-section__list {
  padding: 0 20px;
  margin-top: 23px;
  margin-bottom: 27px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
  }
}

.programs-section__item {
  background-color: $basic-grey;
  padding-bottom: 17px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 297px;
    margin-bottom: 30px;
    padding: 75px 10px 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 375px;
    padding: 0;
  }
}

.programs-section__title {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  padding-left: 12px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding-top: 2px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    @include title-text;

    text-align: center;
    padding: 76px 0 0;
    margin-left: 24px;
  }
}

.programs-section__item:last-child .programs-section__title {
  padding-top: 28px;
  padding-left: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 39px;
  }
}

.programs-section__item:last-child .programs-section__content {
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    width: 342px;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.programs-section__item:first-child .programs-section__title::before {
  content: "";
  background-image: url("../img/slim-cat-icon.svg");
  position: absolute;
  width: 50px;
  height: 52px;
  top: 21px;
  left: 22px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/slim-cat-icon-tablet.svg");
    width: 200px;
    height: 211px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 406px;
    top: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    left: 28px;
    top: 41px;
  }
}

.programs-section__item:last-child .programs-section__title::before {
  content: "";
  background-image: url("../img/mass-cat-icon.svg");
  position: absolute;
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/mass-cat-icon-tablet.svg");
    width: 268px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 372px;
    top: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    left: 10px;
    top: 45px;
  }
}

.programs-section__content {
  @include arial-text-section;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
  padding-bottom: 21px;
  padding-top: 6px;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 12px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    @include tablet-text-content;
    margin: 68px 0 4px 51px;
    width: 475px;
    border: none;
  }
}

.programs-section__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $text-black;
  text-transform: uppercase;
  margin-left: 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 52px;
  }

  &:active {
    opacity: 0.3;
  }
}

.programs-section__link .programs-section__svg {
  margin-left: 18px;
  width: 32px;
  position: absolute;
  top: 4px;

  @media (min-width: $tablet-width) {
    margin-left: 21px;
    width: 40px;
    height: 12px;
    top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}

.programs-section__link .programs-section__svg:hover {
  width: 40px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 12px;
  }
}
