// Секция выбора программы
.program-select {
  @include form-label-text();
  border: none;
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  padding-bottom: 8px;
  border-bottom: 1px solid $catalog-border-grey;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 43px;
    margin-left: 71px;
    margin-right: 65px;
    padding-bottom: 12px;
    border: 1px solid $form-border-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 540px;
    padding-top: 26px;
    padding-right: 19px;
    margin-right: 68px;
    padding-left: 12px;
  }
}

.program-select__label {
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 52px;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-left: 73px;
  }
}

.program-select__label > .program-select__radio {
  appearance: none;
  position: absolute;
}

.program-select__label > span::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/radiobutton-icon.svg") no-repeat;
  position: absolute;
  left: 7px;
  top: 3px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: 12px;
    top: 3px;
    background: url("../img/radiobutton-icon-tablet.svg") no-repeat;
  }
}

.program-select__radio:focus + span {
  border-bottom: 1px solid $text-grey;
}

.program-select__label > .program-select__radio:checked + span::before {
  background: url("../img/radiobutton-active-icon.svg") no-repeat;
  display: block;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: 12px;
    top: 3px;
    background: url("../img/radiobutton-active-icon-tablet.svg") no-repeat;
  }
}

.program-select__label > .program-select__radio:disabled + span {
  opacity: 0.3;
}

.program-select__label > .program-select__radio:checked:disabled + span {
  opacity: 0.3;
}
