// Блок секции с программами
.programms-section__list {
  padding: 0 20px;
}

.programms-section__item {
  background-color: $basic-grey;
}

.programms-section__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programms-section__content {
  @include arial-text-section;
}

.programms-section__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $text-black;
  text-transform: uppercase;
}
