.promo {
  margin: 39px 20px 34px 20px;
  height: 289px;
  background: url("../../img/gift-background-image.png") 0 0 no-repeat;
  background-color: $basic-green;
  background-size: cover;

  @media (min-width: $tablet-width) {
    margin: 0 30px 0 30px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    margin: 52px 30px 0 78px;
  }
}

.promo__content {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-white;
  text-align: center;
  padding: 187px 59px 0 57px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 70px 120px 0 423px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 171px 32px 0 30px;
    text-align: center;
  }

  &::before {
    content: "";
    background-image: url("../../img/gift-icon.svg");
    position: absolute;
    top: 59px;
    left: 100px;
    width: 78px;
    height: 80px;

    @media (min-width: $tablet-width) {
      top: 58px;
      left: 79px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      left: 84px;
    }
  }
}
