// Блок слайдера
.slider {
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $text-white 0, 183px, $background-grey 183px);
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    background: linear-gradient(to bottom, $text-white 177px, $transparent 177px),
      linear-gradient(to right, $basic-grey 0, 382px, $background-grey 382px);
  }
}

.slider__wrapper {
  @include mobile-blocks-width;
  padding-bottom: 9px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    @include tablet-blocks-width;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.slider__slide-left {
  @media (min-width: $tablet-width) {
    width: 50%;
    position: relative;
    min-height: 540px;
    overflow-x: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    position: relative;
    min-height: 517px;
    overflow-x: hidden;
  }
}

.slider__slide-right {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 50%;
    position: relative;
    min-height: 540px;
    overflow-x: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    position: relative;
    min-height: 517px;
    overflow-x: hidden;
    margin-top: -10px;
  }
}

.slider__button {
  font-family: "Oswald", "Arial", sans-serif;
  color: $text-black;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 27px 3px 24px 63px;
  text-align: right;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 6px 10px 36px 93px;
    border-bottom: 1px dotted $slider-border-black;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &:hover {
    border-bottom: 1px solid $text-black;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $text-black;
    }

    &:active {
      @media (min-width: $tablet-width) {
        border-bottom: none;
      }
    }
  }
}

.slider__button--after {
  text-align: left;
  margin-left: 3px;
  margin-right: 53px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 5px;
    margin-right: 79px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__picture {
  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    width: 670px;
  }

  @media (min-width: $desktop-width) {
    width: 665px;
  }

  &-before {
    width: 680px;
  }
}

.slider__image-before {
  width: 312px;
  height: 232px;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 670px;
    height: 520px;
    margin-right: 0;
    left: 48px;
    top: 10px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    left: 22px;
    margin-top: 0;
    top: -13px;
    height: 517px;
  }
}

.slider__image-after {
  width: 251px;
  height: 232px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 545px;
    height: 535px;
    overflow-x: hidden;
    position: absolute;
    right: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 517px;
    position: absolute;
    overflow-x: hidden;
    right: 395px;
    top: -5px;
  }
}

.slider__controls {
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    margin: 23px 0 10px 97px;
    align-items: center;
  }
}

.slider__range {
  width: 82px;
  height: 12px;
  background-color: $text-white;
  margin: 30px 15px;
  border: 1px solid $catalog-additional-border-grey;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 428px;
    margin: 17px 15px;
    height: 6px;
    background-color: $slider-tablet-grey;
    border: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0 17px 0 28px;
  }
}

.slider__scale {
  background-color: $basic-green;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 10px solid $text-white;
    position: absolute;
    top: -16px;
    left: 192px;
  }

  &:hover {
    box-shadow: 0 2px 4px $slider-scale-shadow-black;
  }

  &:active {
    box-shadow: 0 3px 5px $slider-shadow-active-black, 0 0 0 1px $basic-green;
  }
}

.slider__image-before--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.slider__image-after--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
