// Блок слайдера
.slider {
  background-color: $background-grey;
  padding-bottom: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding-bottom: 43px;
    background-color: $background-grey;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 690px;
    padding-right: 62px;
    padding-left: 40px;
  }
}

.slider__button {
  font-family: "Oswald", sans-serif;
  color: $text-black;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 17px 0 24px 15px;
  text-align: right;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 21px 12px 25px 98px;
    border-bottom: 1px dotted $slider-border-black;
    padding-right: 0;
    padding-left: 0;
  }
}

.slider__button-after {
  text-align: left;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 3px;
    margin-right: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5px;
  }
}

.slider__picture {
  grid-column: 1/-1;
  grid-row: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 559px;
  }

  @media (min-width: $desktop-width) {
    height: 551px;
    margin-top: -74px;
  }
}

.slider__image-before {
  grid-row: 1;
  width: 311px;
  height: 240px;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    width: 677px;
    height: 520px;
    padding-top: 22px;
  }
}

.slider__image-after {
  width: 251px;
  height: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 545px;
    height: 520px;
  }
}

.slider__range {
  width: 82px;
  height: 12px;
  background-color: $text-white;
  margin: 22px 12px;
  border: 1px solid $catalog-additional-border-grey;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 428px;
    margin: 36px 15px;
    height: 6px;
    background-color: $slider-tablet-grey;
    border: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 35px 15px;
  }
}

.slider__scale {
  background-color: $basic-green;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 14px solid $text-white;
    position: absolute;
    top: -20px;
    left: 214px;
  }
}

.slider__image-before--closed {
  display: none;
}

.slider__image-after--closed {
  display: none;
}
