// Блок с соц.сетями
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $contacts-grey;
  padding: 0;
  padding-bottom: 10px;
  margin: 10px 20px 15px 20px;
  height: 44px;
  list-style: none;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding-bottom: 20px;
    margin-left: 47px;
    margin-right: 17px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.socials__item {
  width: 23px;
  margin-right: 32px;
  height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: auto;
    margin-left: 19px;
    margin-right: 0;
  }
}

.socials__item:first-child {
  margin-left: 0;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__svg:hover {
  stroke: $basic-green;
}

.socials__svg--facebook-icon:hover {
  fill: $basic-green;
}

.socials__svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
}

.socials__svg--vk-icon {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
}

.socials__svg--instagram-icon {
  width: 23px;
  height: 23px;
}
