// Файл с переменными

// colors

$text-black: #000000;
$text-white: #ffffff;
$basic-green: #68b738;
$text-grey: #444444;
$border-grey: #e6e6e6;
$basic-grey: #f2f2f2;
$footer-black: #111111;
$contacts-grey: #d9d9d9;
$background-grey: #eaeaea;
$catalog-border-grey: #ebebeb;
$text-dark-grey: #222222;
$hover-link-black: rgba(0, 0, 0, 0.6);
$active-link-black: rgba(0, 0, 0, 0.3);
$hover-link-green: #5eaa2f;
$hover-link-white: rgba(255, 255, 255, 0.3);
$active-link-grey: rgba(68, 68, 68, 0.3);

// viewports

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
