// Файл с переменными
$text-black: #000000;
$text-white: #ffffff;
$basic-green: #68b738;
$text-grey: #444444;
$border-grey: #e6e6e6;
$basic-grey: #f2f2f2;
$footer-black: #111111;
$contacts-grey: #d9d9d9;
$background-grey: #eaeaea;
$catalog-border-grey: #ebebeb;
$text-dark-grey: #222222;
